{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "babel-plugin-transform-strict-mode",
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-es2015-instanceof",
    "transform-async-to-generator",
    "transform-function-bind",
    "syntax-flow",
    "transform-flow-strip-types"
  ],
  "env": {
    "development": {
      "plugins": [
        "typecheck",
        ["espower", { "embedAst": true }]
      ]
    },
    "production": {
      "plugins": [
        "unassert"
      ]
    }
  },
  "sourceMaps": true
}
