{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    "angular2-annotations",
    "@babel/plugin-syntax-flow",
    "@babel/plugin-transform-destructuring",
    "@babel/plugin-syntax-async-generators",
    "@babel/plugin-proposal-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-async-to-generator",
    "transform-function-bind",
    "transform-flow-strip-types"
  ],
  "sourceMaps": true
}
