#canvasContainer{
  height: 100%;
}
#svgContainer{
  height: 100%;
}

html, body{
  height : 100%;
  padding: 0;
  margin : 0;
}

.jsoneditor-menu {
  background-color: grey !important;
}

.jsoneditor {
  border: 1px solid #ccc !important;
}

.jsoneditor-modal .pico-modal-header {
  background: grey !important;
}

.jsoneditor-modal a {
  color: grey !important;
}

.jsoneditor-modal .jsoneditor-button-group.jsoneditor-button-group-value-asc input.jsoneditor-button-asc,
.jsoneditor-modal .jsoneditor-button-group.jsoneditor-button-group-value-desc input.jsoneditor-button-desc {
  background: grey !important;
  border-color: #ccc !important;
}

.jsoneditor-modal .selectr-selected .selectr-tag {
  background-color: grey !important;
}

div.jsoneditor-menu {
  background-color: grey !important;
  border-bottom: 1px solid #ccc !important;
}





